.env
.venv
.mypy_cache
.ropeproject
.ruff_cache
*.pyc
__pycache__
*.egg-info
dist
build
*.db
mlruns
mlartifacts
.litellm_cache
reward_model_final
reward_model
thumbs_reward_model_final
thumbs_reward_model
ppo_trained_model
.aider*
